.create{
    margin-left: 1100px;
    margin-top: 30px;
}
.c{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
    /* border-bottom: solid 10px white; */
}
a{
    font-family: cursive; 
    font-size: xx-large;
    font-weight: 500;

}